<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

<resultMap id="boardSelectMap" type="board"  >
		<result property="boardNo" 				column="BOARD_NO" 			jdbcType="INTEGER"/>
  		<result property="travNo" 				column="TRAV_NO" 			jdbcType="INTEGER"/>
  		<result property="hits" 					column="HITS"					jdbcType="INTEGER"/>
  		<result property="regDate" 				column="REG_DATE" 			jdbcType="DATE"/>
  		<result property="nickName" 			column="NICKNAME" 			jdbcType="VARCHAR"/>
  		<result property="boardContent" 		column="BOARD_CONTENT" 	jdbcType="VARCHAR"/>
  		<result property="boardTitle" 			column="BOARD_TITLE" 		jdbcType="VARCHAR"/>
  		<result property="boardCategory" 		column="BOARD_CATEGORY" jdbcType="INTEGER"/>
  		<result property="deleteFlag" 			column="DELETE_FLAG" 			jdbcType="INTEGER"/>
  	</resultMap>
  	
  	<insert 	id="addBoard"	 parameterType="board" >
  	  INSERT 
      INTO board
      VALUES(SEQ_BOARD_NO.nextval, #{nickName}, #{travNo}, #{hits}, #{boardContent}, #{boardTitle}, SYSDATE, #{boardCategory},0)
      </insert>
  	 
  	 <update	id="updateBoard"	parameterType="board" >
	   	UPDATE board
	   	<set>
			BOARD_CONTENT = #{boardContent},
			BOARD_TITLE = #{boardTitle}
	   	</set>
	   	WHERE BOARD_NO = #{boardNo}
	 </update>
	 
	 <delete id="deleteBoard" parameterType="board" >
	 UPDATE board
	 <set>
	 delete_flag = 1
	 </set>
	 WHERE BOARD_NO = #{boardNo}
	 </delete>
	 
	  <select  id="getBoardDESC"  parameterType="search"	resultMap="boardSelectMap">
	  SELECT *
	 FROM (		SELECT inner_table. * ,  ROWNUM AS row_seq
	 FROM (	 SELECT BOARD_NO, NICKNAME, TRAV_NO, HITS, BOARD_CONTENT, BOARD_TITLE, REG_DATE, BOARD_CATEGORY, DELETE_FLAG
	  FROM board
	  WHERE BOARD_CATEGORY = #{boardCategory}
			<if test="searchCondition != null">
				
					<if test="searchCondition == 0 and searchKeyword !='' ">
		 				 AND BOARD_NO LIKE '%'||#{searchKeyword}||'%'
					</if>
					<if test="searchCondition == 1 and searchKeyword !='' ">
		 				AND BOARD_TITLE LIKE '%'||#{searchKeyword}||'%'
					</if>
					<if test="searchCondition == 2 and searchKeyword !='' ">
		 				 AND NICKNAME LIKE '%'||#{searchKeyword}||'%'
					</if>																										
			
			</if>	
			ORDER BY REG_DATE DESC) inner_table
	 WHERE ROWNUM &lt;= #{endRowNum} ) 
	 WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	  </select>
	  
	  <select  id="getBoardASC"  parameterType="search"	resultMap="boardSelectMap">
	  SELECT *
	 FROM (		SELECT inner_table. * ,  ROWNUM AS row_seq
	 FROM (	 SELECT BOARD_NO, NICKNAME, TRAV_NO, HITS, BOARD_CONTENT, BOARD_TITLE, REG_DATE, BOARD_CATEGORY, DELETE_FLAG
	  FROM board
	  WHERE BOARD_CATEGORY = #{boardCategory}
			<if test="searchCondition != null">
				
					<if test="searchCondition == 0 and searchKeyword !='' ">
		 				 AND BOARD_NO LIKE '%'||#{searchKeyword}||'%'
					</if>
					<if test="searchCondition == 1 and searchKeyword !='' ">
		 				AND BOARD_TITLE LIKE '%'||#{searchKeyword}||'%'
					</if>
					<if test="searchCondition == 2 and searchKeyword !='' ">
		 				 AND NICKNAME LIKE '%'||#{searchKeyword}||'%'
					</if>																										
			
			</if>	
			ORDER BY REG_DATE ASC) inner_table
	 WHERE ROWNUM &lt;= #{endRowNum} ) 
	 WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	  </select>
	  
	  <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM (SELECT BOARD_NO, NICKNAME, TRAV_NO, HITS, BOARD_CONTENT, BOARD_TITLE, REG_DATE, BOARD_CATEGORY, DELETE_FLAG
	 	FROM board
	 	WHERE BOARD_CATEGORY = #{boardCategory}
		<if test="searchCondition != null">
			
				<if test="searchCondition == 0 and searchKeyword !='' ">
	 				 AND BOARD_NO LIKE '%'||#{searchKeyword}||'%'
				</if>
				<if test="searchCondition == 1 and searchKeyword !='' ">
	 				AND BOARD_TITLE LIKE '%'||#{searchKeyword}||'%'
				</if>
				<if test="searchCondition == 2 and searchKeyword !='' ">
	 				 AND NICKNAME LIKE '%'||#{searchKeyword}||'%'
				</if>																										
		
		</if>		) countTable					
	 </select>
	 
	 <select  id="getBoard"  parameterType="board"	resultMap="boardSelectMap">
	 	SELECT BOARD_NO, NICKNAME, TRAV_NO, HITS, BOARD_CONTENT, BOARD_TITLE, REG_DATE, BOARD_CATEGORY
	 	FROM board
	 	WHERE BOARD_NO = #{boardNo}
	 </select>

</mapper>