<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">

<resultMap id="commentSelectMap" type="comment"  >
		<result property="commentNo" 			column="COMMENT_NO" 	jdbcType="INTEGER"/>
  		<result property="boardNo" 				column="BOARD_NO" 			jdbcType="INTEGER"/>
  		<result property="privateComment" 	column="PRIVATE_COMMENT"	jdbcType="INTEGER"/>
  		<result property="regDate" 				column="REG_DATE" 			jdbcType="DATE"/>
  		<result property="nickName" 			column="NICKNAME" 			jdbcType="VARCHAR"/>
  		<result property="commentContent" 	column="COMMENT_CONTENT" 	jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert 	id="addComment"	 parameterType="comment" >
  	  INSERT 
      INTO board_comment
      VALUES(SEQ_COMMENT_NO.nextval, #{boardNo}, #{nickName}, #{privateComment}, SYSDATE, #{commentContent})
  	 </insert>
  	 
  	 <update	id="updateComment"	parameterType="comment" >
	   	UPDATE board_comment
	   	<set>
			REG_DATE	=	SYSDATE,
			PRIVATE_COMMENT = #{privateComment},
			COMMENT_CONTENT = #{commentContent}
	   	</set>
	   	WHERE COMMENT_NO = #{commentNo}
	 </update>
	 
	 <delete id="deleteComment" parameterType="comment" >
	 DELETE FROM board_comment
	 WHERE COMMENT_NO = #{commentNo}
	 </delete>
	 
	 <select  id="listComment"  parameterType="hashmap"	resultMap="commentSelectMap">
	 SELECT COMMENT_NO, BOARD_NO, PRIVATE_COMMENT, REG_DATE, NICKNAME, COMMENT_CONTENT
	 FROM board_comment
	 WHERE BOARD_NO IN
	 <foreach collection="boards" item="boardNos" open="(" close=")" separator=",">
	 #{boardNos.value}
	 </foreach>
	 ORDER BY REG_DATE DESC
	 </select>

</mapper>