<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MessageMapper">

	<resultMap id="messageSelectMap" type="message">
		<result property="msgNo" 			column="msg_no"			jdbcType="NUMERIC"/>
		<result property="sender" 				column="sender" 			jdbcType="VARCHAR"/>
		<result property="receiver" 			column="receiver" 		jdbcType="VARCHAR"/>
		<result property="sendDate" 			column="send_date" 		jdbcType="DATE"/>
		<result property="readDate" 			column="read_date" 		jdbcType="DATE"/>
		<result property="msgContent" 		column="msg_content" 	jdbcType="VARCHAR"/>
		<result property="isRead" 				column="is_read" 			jdbcType="NUMERIC"/>
	</resultMap>
	
	 <!-- SQL : INSERT 메세지 등록-->
	 <insert id="sendMsg" parameterType="message">
	 	INSERT
	 	INTO message
	 	VALUES ( 		 seq_msg_no.nextval, 
						 		#{sender}, 
						 		#{receiver}, 
						 		SYSDATE, 
						 		#{readDate:DATE}, 
						 		#{msgContent:VARCHAR}, 
						 		0
	 						)		 	
	 </insert>
	 
	 <select id="getMsg" parameterType="int" resultMap="messageSelectMap">
	 	SELECT
	 	msg_no, sender, receiver, send_date, read_date, msg_content, is_read
	 	FROM message
	 	WHERE msg_no = #{value}
	 </select>
	 
	 <update id="updateIsRead" parameterType="int">
		UPDATE message 
		SET read_date=SYSDATE, is_read=1
		WHERE msg_no = #{value}
	 </update>
	 
	 <select id="listSendMsg" parameterType="search" resultMap="messageSelectMap">
	 	SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
			FROM ( SELECT msg_no, sender, receiver, TO_CHAR(send_date, 'YYYYMMDDHH24MISS'), msg_content
							FROM message 
							WHERE sender=#{searchKeyword} ) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
	 
	 <select id="sendCount" parameterType="search" resultType="int">
	 	SELECT COUNT(*)
	 	FROM ( SELECT msg_no, sender, receiver FROM message WHERE sender=#{searchKeyword} ) countTable
	 </select>
	 
	<select id="listReceivMsg" parameterType="search" resultMap="messageSelectMap">
	 	SELECT *
		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
			FROM ( SELECT msg_no, sender, receiver, TO_CHAR(send_date, 'YYYYMMDDHH24MISS'), msg_content, read_date, is_read
							FROM message 
							WHERE receiver=#{searchKeyword} ) inner_table
			WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
		 
	<select id="receiveCount" parameterType="search" resultType="int">
	 	SELECT COUNT(*)
	 	FROM ( SELECT msg_no, sender, receiver FROM message WHERE receiver=#{searchKeyword} ) countTable
	 </select>
	 
	 <delete id="deleteMsg" parameterType="int" >
	 	DELETE FROM message WHERE msg_no = #{value}
	 </delete>
	
	


		
</mapper>