<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlaceMapper">
 	
	<resultMap id="placeSelectMap" type="place">
		<result property="placeNo" 			column="place_no" 		jdbcType="NUMERIC"/>
		<result property="cityNo"			column="city_no" 		jdbcType="NUMERIC" />
		<result property="travelNo"			column="trav_no" 		jdbcType="NUMERIC" />
		<result property="placeId" 			column="place_id" 		jdbcType="VARCHAR" />
		<result property="prePlaceNo" 		column="pre_place_no" 	jdbcType="NUMERIC" />
		<result property="nextPlaceNo" 		column="next_place_no" 	jdbcType="NUMERIC" />
		<result property="place" 			column="place" 			jdbcType="VARCHAR" />
		<result property="placeX" 			column="place_x" 		jdbcType="NUMERIC" />
		<result property="placeY" 			column="place_y" 		jdbcType="NUMERIC"  />
		<result property="visitDate" 		column="visit_date" 	jdbcType="VARCHAR" />
		<result property="memo" 			column="memo" 			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="tempBlogSelectMap" type="tempBlog">
		<result property="placeNo" 			column="place_no" 		jdbcType="NUMERIC"/>
		<result property="cityNo"			column="city_no" 		jdbcType="NUMERIC" />
		<result property="travelNo"			column="trav_no" 		jdbcType="NUMERIC" />
		<result property="place" 			column="place" 			jdbcType="VARCHAR" />
		<result property="visitDate" 		column="visit_date" 	jdbcType="VARCHAR" />
		<result property="memo" 			column="memo" 			jdbcType="VARCHAR" />
	</resultMap>
	 
	 <select id="listPlace" parameterType="int" resultMap="tempBlogSelectMap">
	 	SELECT 
	 	place_no, city_no, trav_no, place, TO_CHAR(visit_date,'yy/mm/dd') visit_date, memo
	 	FROM place
	 	WHERE trav_no=#{travelNo}
	 	START WITH
	 		pre_place_no IS NULL
	 	CONNECT BY PRIOR
	 		next_place_no=place_no
	 </select>
	 
	 <select id="listPlaceNo" parameterType="search" resultType="int">
	 	SELECT
	 	place_no
	 	FROM place
	 	WHERE trav_no=#{searchKeyword} AND visit_date=TO_DATE(#{searchDate},'yy/MM/dd')
	 	START WITH
	 		pre_place_no IS NULL
	 	CONNECT BY PRIOR
	 		next_place_no=place_no
	 </select>
	 
	 <select id="listPlaceNoTemp" parameterType="int" resultType="int">
	 	SELECT
	 	place_no
	 	FROM place
	 	WHERE trav_no=#{travelNo}
	 	START WITH
	 		pre_place_no IS NULL
	 	CONNECT BY PRIOR
	 		next_place_no=place_no
	 </select>
	 
</mapper>