<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<resultMap type="purchase" id="purchaseSelectMap">
		<result property="tranNo" 								column="TRAN_NO" 						jdbcType="INTEGER"/>
  		<result property="purchaseProd.prodNo" 	column="PROD_NO" 						jdbcType="INTEGER"/>
  		<result property="buyer.userId" 					column="BUYER_ID"						jdbcType="VARCHAR"/>
  		<result property="paymentOption"				column="PAYMENT_OPTION"  	jdbcType="CHAR"/>
  		<result property="receiverName" 					column="RECEIVER_NAME" 		jdbcType="VARCHAR"/>
  		<result property="receiverPhone" 					column="RECEIVER_PHONE"  		jdbcType="VARCHAR"/>
  		<result property="divyAddr" 							column="DIVY_ADDR" 					jdbcType="VARCHAR"/>
  		<result property="divyRequest" 						column="DIVY_REQUEST" 			jdbcType="VARCHAR"/>
  		<result property="tranCode" 							column="TRAN_STATUS_CODE" 	jdbcType="CHAR"/>
  		<result property="orderDate" 						column="ORDER_DATE" 				jdbcType="DATE"/>  		 
  		<result property="divyDate" 							column="DIVY_DATE"					jdbcType="DATE"/>
  	</resultMap>
  	
	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
  		SELECT 
		prod_no, buyer_id, payment_option, receiver_name, receiver_phone, divy_addr, divy_request, divy_date, order_date, tran_status_code, tran_no
		FROM transaction
		WHERE tran_no = #{tranNo}
  	</select>
  	
  	<select id="getPurchase2" parameterType="int" resultMap="purchaseSelectMap">
		 SELECT * FROM transaction WHERE prod_no= #{prodNo}
	 </select>
  	
	<insert id="addPurchase" parameterType="purchase">
		INSERT 
		INTO transaction(tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, divy_addr, divy_request, tran_status_code, order_date, divy_date)
		VALUES (
					seq_transaction_tran_no.NEXTVAL,
					#{purchaseProd.prodNo:INTEGER},
					#{buyer.userId:VARCHAR},
					#{paymentOption:CHAR},
					#{receiverName:VARCHAR},
					#{receiverPhone:VARCHAR},
					#{divyAddr:VARCHAR},
					#{divyRequest:VARCHAR},
					1,
					SYSDATE,
					#{divyDate:DATE} )
	</insert>
	
	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
  		SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM ( SELECT t.tran_no, p.prod_no, t.order_date, t.tran_status_code , t.buyer_id
										FROM transaction t, product p, users u 
										WHERE t.prod_no = p.prod_no 
										AND t.buyer_id = u.user_id 
										AND u.user_id = #{buyerId}
										ORDER BY tran_no  ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
</select>

<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT t.tran_no, p.prod_no, t.order_date, t.tran_status_code ,t.buyer_id
										FROM transaction t, product p, users u 
										WHERE t.prod_no = p.prod_no 
										AND  u.user_id  = t.buyer_id
										AND t.buyer_id=#{searchKeyword}
						 ) countTable						
	 </select>
	 
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option 			= #{paymentOption} ,
			receiver_name				= #{receiverName},
			receiver_phone 				= #{receiverPhone} ,
			divy_addr						=	#{divyAddr},
			DIVY_REQUEST           =  #{divyRequest},
			DIVY_DATE					=  #{divyDate}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 <update id="updateTrancode"	parameterType="purchase">
		<if test="tranCode == 1">
			UPDATE transaction SET tran_status_code=2 
			WHERE tran_no = #{tranNo}
		</if>
		<if test="tranCode == 2">
		 	UPDATE transaction SET tran_status_code=3 
		 	WHERE tran_no = #{tranNo}
		 </if>
	 </update>
  	
</mapper>
