<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TravelMapper">
 	
	<resultMap id="travelSelectMap" type="travel">
		<result property="travelNo" 			column="trav_no" 			jdbcType="NUMERIC"/>
		<result property="userId"				column="user_id" 			jdbcType="VARCHAR" />
		<result property="travTitle" 			column="trav_title" 		jdbcType="VARCHAR" />
		<result property="travTheme" 			column="trav_theme" 		jdbcType="VARCHAR" />
		<result property="memberCount" 			column="member_count" 		jdbcType="NUMERIC" />
		<result property="startDate" 			column="start_date" 		jdbcType="VARCHAR" />
		<result property="totalDate" 			column="total_date" 		jdbcType="NUMERIC" />
		<result property="isBlogStart" 			column="is_blog_start" 		jdbcType="NUMERIC"  />
		<result property="thumbNail" 			column="thumb_nail" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<insert id="addTravel" parameterType="travel">
		INSERT INTO travel(trav_no, user_id, trav_title, trav_theme, member_count, 
		start_date, total_date, is_blog_start, thumb_nail)
		VALUES (seq_trav_no.nextval, #{userId}, #{travTitle}, #{travTheme}, #{memberCount},
				#{startDate}, #{totalDate}, #{isBlogStart}, #{thumbNail:VARCHAR})
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select id="getTravel" parameterType="travel"	resultMap="travelSelectMap">
		SELECT
		*		
		FROM travel 
		WHERE trav_title=#{value}
	</select>
	
	 <select id="checkBlogStart" parameterType="int" resultMap="travelSelectMap">
	 	SELECT
	 	trav_no, is_blog_start, trav_title, TO_CHAR(start_date,'yy/MM/dd') start_date, user_id
	 	FROM travel
	 	WHERE trav_no=#{travelNo}
	 </select>
	 
	 <update id="startBlog" parameterType="int">
	 	UPDATE
	 	travel
	 	SET is_blog_start=1
	 	WHERE trav_no=#{travelNo}
	 </update>
</mapper>