<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="nickName"	column="nickname" 		jdbcType="VARCHAR" />
		<result property="password" 	column="passwd" 		jdbcType="VARCHAR" />
		<result property="birthDate" 				column="birth_date" 					jdbcType="DATE" />
		<result property="profileImage" 				column="profile_image" 					jdbcType="VARCHAR" />
		<result property="gender" 				column="gender" 					jdbcType="VARCHAR" />
		<result property="role" 				column="role" 					jdbcType="NUMERIC" />
		<result property="isDelete" 				column="is_delete" 					jdbcType="NUMERIC" />
		
	</resultMap>
		
	<!-- SQL : SELECT ONE -->
		 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
			SELECT
			user_id
			FROM users 
			WHERE user_id = #{value}
		 </select>
		 
		 </mapper>